Users.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="Users" targetNamespace="http://tempuri.org/Users.xsd" elementFormDefault="qualified"
	xmlns="http://tempuri.org/Users.xsd" xmlns:mstns="http://tempuri.org/Users.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="users">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element name="data" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>